/* PC */
@media (min-width: 1024px) {

}

/* Tablet */
@media (min-width: 657px) and (max-width:1023px){
.contact-form .form-control{
    padding: 12px 12px;
}

#footer .social-lists a{
    margin: 0 8px;
}

#footer .copy-right a{
    padding: 12px 0;
    display: inline-block;
}

.contact-infor {
    line-height: 1.8;
}

}

/* Mobile */
@media (max-width: 656px) {

.mobile-col-full {
    width: 100%;
}

#header {
    overflow: hidden;
}

#header .mobile-menu-btn{
    display: block;
}

#header .search-button {
    display: none;
}

#nav {
    display: block;
}

#nav >  li {
    display: block;
}

#nav > li:first-child{
    display: inline-block;
}

#nav .subnav {
    position: initial;
    background-color: #333;
}

#nav .subnav a {
    color: #fff;
    padding: 5px 52px;
}

#content .mobile-member-items {
    width: 100%;
    margin-top: 42px;
}

#content .mobile-member-items img {
    width: 60%;
}

.place-items{
    padding-bottom: 20px;
}

.col.col-half.mobile-col-full.contact-form{
    margin-top: 16px;
}

.mobile-magin-top-8px{
    margin-top: 8px;
}

.mobile-full-width {
    width: 100% !important;
}


}